@import url("./rules.css");

/* basic layout */

.addExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
    border: solid;
    padding: 5px;
    border-color: #2563eb;
}

.dateDiv {
    display: flex;
    gap: 10px;
}

.responsiDiv {
    display: flex;
}